[Unit]
Description=Dashboard Data Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=pi
Group=pi
WorkingDirectory=/home/pi/pi-dashboard
ExecStart=/home/pi/pi-dashboard/venv/bin/python /home/pi/pi-dashboard/src/generate_dashboard.py
StandardOutput=journal
StandardError=journal